.products {
  width: 100%;
}

.catalogFilterButton {
 
}

.catalogFilterWrapper {
  position: absolute;
  top: 150px;
  left: 0;
 overflow: hidden;
 height: calc(100vh - 150px) ;
 min-width: 350px;
z-index: -1;
background-color: #fff;
transition: all 0.4s ease-in-out 0s;
  @media (max-width: 900px) {
    top: 120px;
    height: calc(100vh - 120px) ;
    width: 100%;

  }
  @media (max-width: 500px) {
    top: 100px;
    height: calc(100vh - 100px) ;
  }

}

.catalogFilterWrapperActive {
  z-index: 20;
  background-color: #fff;
  
}

.catalogFilter {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: -100%;
  background-color: #fff;


  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease-in-out 0s;
  z-index: 20;
  padding-bottom: 20px;
  overflow: auto;
  padding-right: 15px;
  @media(max-width: 500px) {
    min-width: 100%;
    padding-right: 0
  }
}

.catalogFilterWrapperActive > .catalogFilterActive {
  left: 0;
  opacity: 1;
  visibility: visible;

}



.productsWrapper {

    display: grid;
    grid-template-columns: repeat(4, 23%);
    gap: 40px;
    justify-content: space-between;
    margin-bottom: 30px;
   

    @media(max-width: 1300px) {
      grid-template-columns: repeat(2, 47%);
    }
    @media(max-width: 650px) {
      grid-template-columns: 1fr;
    }
}

.productsSelection {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

  
  



 