.addProductForm {
    width: 100%;
    border: 1px solid var(--grey);
    border-radius: 5px;
    padding: 20px;
}

.addProductFormCloseIcon {
    text-align: right;
    margin-bottom: 10px;
    svg {
        cursor: pointer;
        color: var(--grey);
        transition: color 0.3s ease-in-out 0s;
        @media(any-hover: hover) {
            &:hover {
                color: var(--main);
            }
        }
    }
}

.addProductFormCharacteristics {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 10px;
    margin-top: 10px;
}

.addProductFormButton {
    width: 100%;
    height: 50px;
    margin-top: 20px !important;
}

.addProductFormImageInput {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}


.addProductFormError {
    color: red;
    font-size: 14px;
}