.logo {

  font-size: 30px;
  font-weight: 500;
  align-self: center;
  padding: 10px 0;
  max-width: 85px;
  position: relative;
  &::before {
    content: '';
    height: 30px;
    width: 1px;
    background-color: var(--dark);
    position: absolute;
    top: -22px;
    left: 46%;
    @media (max-width: 500px) {
      height: 25px;
      top: -18px;

    }
  }
  &::after {
    content: '';
    height: 40px;
    width: 1px;
    background-color: var(--dark);
    position: absolute; 
    bottom: -30px;
    left: 46%;

    @media (max-width: 500px) {
      height: 30px;
      bottom: -20px;
    }
  }
 
 
}

