.cartEmpty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  height: 100%;
  padding: 20px;

  svg {
    color: var(--accent);
    font-size: 200px;
    @media(max-width: 900px) {
      font-size: 150px;
    }
    @media(max-width: 500px) {
      font-size: 120px;
    }
  }
}

.cartEmptyTitle {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: var(--accent);
  margin-bottom: 30px;
  @media(max-width: 900px) {
    font-size: 25px;
    margin-bottom: 20px;
  }
  @media(max-width: 500px) {
    font-size: 20px;
    margin-bottom: 0px; 
  }
}

.cartEmptyBack {
  background: var(--accent);
  border-radius: 10px;
  padding: 17px 34px;
  font-weight: 700;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease-out 0s;
  @media (any-hover: hover) {
    &:hover {
      background: rgba(97, 137, 103, 0.5);
    }
  }

  @media(max-width: 900px) {
    padding: 10px 20px;
  }
  @media(max-width: 500px) {
    background-color: inherit;
    color: var(--accent);
    text-align: center;
  }
}