.contacts {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 43vh 20px 0 20px;
    margin-bottom: 50px;

    @media (max-width: 600px) {
        padding: 28vh 0px 0 0px;
    }
}

.contactsLogo{
    font-size: 150px;
    position: relative;

    @media (max-width: 600px) {
        font-size: 100px;
    }


    &::before {
        content: '';
        position: absolute;
        bottom: 90px;
        left: 47%;
        height: 150px;
        width: 4px;
        background-color: var(--dark);
        @media (max-width: 600px) {
            height: 100px;
            bottom: 70px;
        }
    }
    &::after {
        content: '';
        position: absolute;
        top: 80px;
        left: 47%;
        height: 200px;
        width: 4px;
        background-color: var(--dark);
        @media (max-width: 600px) {
            top: 60px;
        }
    }
    .contactsLogoDescription {
        position: absolute;
        top: 110px;
        font-size: 40px;
        color: var(--grey);
        line-height: 1.2em;
        left: 52%;
        p {
            &::first-letter {
                font-weight: 600;
                color: var(--dark);
            }
        }
      
    }
}

.contactsContent {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 60px;
    text-align: center;
    p {
        font-size: 20px;
        display: flex; 
        align-items: center;
        gap: 10px;

        @media (max-width: 600px) {
            font-size: 16px;
            align-items: flex-start;
        }
    }

    @media (max-width: 600px) {
        margin-top: 40px;
    }
}

.contactsItem {

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    font-size: 20px;
    gap: 10px;

    @media (max-width: 600px) {
        font-size: 16px;
    }
    a {
        display: flex;
        align-items: center;
        gap: 10px;
        line-height: 2em;
        text-align: right;
    }
    svg {
        font-size: 40px;
    }
    img {
        width: 40px;
        height: 40px;
    }
}

.contactsImage {
    position: absolute;
    top:0;
    left: 0;
    height: 45vh;
    width: 100%;
    z-index: -1;

    @media (max-width: 600px) {
        height: 30vh;
    }


    
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    
    }
}